.input_new_column {
	width: 200px;
	height: 40px;
	margin-bottom: 20px;
}

.button_add_column {
	background-color: chartreuse;
}

.input_chosen_file {
	width: 200px;
}

span {
	color: black;
	font-size: 16px;
	font-weight: 500;
}

.input_add_value {
	width: 400px;
	height: 40px;
	font-size: 25px;
}

.hover_button_add_value:hover {
	background: #B931FC;
}

.text_title_center {
	text-align: center;
	width: 100%;
}